
/* whole app container */
.main-container {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */ 
  flex: 1;
  border: 2px;
}

/* all-info container (excludes navbar anf footer) */
.all-content-container{
  
}

/* short view (in a list) of a single item (board,rider,maker)*/
.single-item-inList-view{

}


/* image inside single item in a list */
single-item-inList-img{

}